<% include partials/header %>

    <h1 ng-app="app">Landing Page</h1>
    <p>
      Welcome to Yelp camp
    </p>

  <div ng-view ng-controller="about">
  </div>

  <a href="/campgrounds">View all Campsites</a>
<% include partials/footer %>
